[Desktop Entry]
Name=Madhatter Drop
Comment=P2P Delta Sync Tool
Exec=madhatter-tray
Icon=/usr/share/madhatter/icons/idle.png
Terminal=false
Type=Application
Categories=Utility;Network;
StartupNotify=false
X-GNOME-Autostart-enabled=true
